body{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
.navbar{
    #navbar{
        overflow-x: hidden;
    }
    display:flex;
    justify-content:center;
    background-image:('./image1jpg') ;
    margin:0px;
    position: sticky;
    top:0px;
    overflow-x: hidden;
}
.navbar lia{
     text-decoration: none;
}
.navbar li{
    list-style-type:none;
margin: 20px;
padding: 20px;

}
.navbar li img{
    width: 80px;
    margin-right:150px;

}
#down{
    margin-left: 150px;
}

.submain{
    border-color:aquamarine ;
}
.navbar{
    display:flex;
    justify-content:center;
    
    

     
}
.navbar li a{
    text-decoration: none;
}
.navbar li{
    list-style-type:none;
}   
.navbar li img{
    width: 40px;
    margin-right:150px;
}
#down{ 
    margin-left:90px;
}    
.landingpage{
    display:flex;
    justify-content: center;
padding-top: 150px;
background-image: url(1.jpg);
border-top:2pxsolid black;
overflow-x: hidden;
}
.landingpage div img{
    width: 500px;
}
.button1{
    border: 1px silid black;
    padding: 10px;
    border-radius: 5px;
    color: white;
    background-color: aqua;
}
.button1:hover{
    color: slategray;
    background-color: white;
    cursor: pointer;
}
/*==========my client=======*/

.myclient div{
    color: white ;
    font-size: 30px;
    background-color: rgb(11, 11, 24);
    overflow-x: hidden;
}
.myclient{
    
    display: flex;
    justify-content: center;
    padding: 30px;
    background-color: rgb(11, 11, 24);
}
.myclient img{
    margin: 30px;
    opacity: 0.5;
  
}

.myclient1{
    background-color: rgb(11, 11, 24);
}
.myclient1 img:hover{
    opacity:1;
    

    
}
/*==========dedication===========*/

.image1{
    padding: 40px;
    border-right: 2px soild rgb(9,9,64);
    overflow-x: hidden;

}
.image1 img{
    width: 60px;
    margin-left:  10px; ;
}
.image1 span{
    font-size: 30px;
    color:rgb(6,6,62);
    font-weight: 600;
    margin-top: 100px;
}
.dedication{
    display: flex;
justify-content: center;
    padding: 100px;
    
}
/*=============skills===========*/
.mainskill{
display:grid;
grid-template-columns: auto auto auto;
justify-content: center;
padding-right: 30px;
 
}



.skills div{
border: 2px solid rgb(8, 8,48);
background-color: white;
padding:20px;
margin:20px;

}
.skills{
    display:grid;
grid-template-columns: auto auto auto;
margin:30px;
background-image: url(https://itemsstore.net/html/trito/img/skills/1.jpg);
padding: 50px;
}
.skills{
    padding: 30px;
}
.skills div{
    font-size: 20px;
}



/*=======about=======*/
.about{
    display: flex;
    background-image: url(https://itemsstore.net/html/trito/img/about/background.jpg);
    padding:60px;
    z-index: 1;
}
.about{
    margin: 200px;
}
.about div img{
    z-index: 3;
    position: relative;
}
.twelve{
    
}















